*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}.ul{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5em;
    list-style-type: none;
    
    
}
li a{
    text-decoration: none;
    color: black;
    
}
.strip {
    background-color: #4CAF50;
    position: relative;
    display: flex;
    align-items: center;
}


    
    .navmenu{
        background-color:rgba(151, 180, 200, 0.424) ;
        position: relative;
        padding: .6em .7em;
        
}

